<div class="col-md-6">
    <div class="tab-content">


<ul class="liked-pages2" id="all-pages"></ul>
<ul class="liked-pages2" id="all-movies"></ul>
<ul class="liked-pages2" id="all-series"></ul>

</div>
</div>

<div class="col-md-3">
<div class="box-friend">
    <h4 class="widget-title2" >Amigos</h4>
        
  
           
    <div id="scrolling-wrapper2">

        <div id="friends-widget">

        </div>

</div>

</div> 

          
</div>




<script>
    var friendsFind = true;

    function findFriends(){
        var ajax = new XMLHttpRequest();
        ajax.open("POST", "/findFriends", true);

        ajax.onreadystatechange = function(){
            if(this.readyState == 4 && this.status == 200){
                var response = JSON.parse(this.responseText);
                console.log("frieeeeeeends",response.data.length);
                var html = "";
                for (var a = 0; a < response.data.length; a++) {
                    
                    var data = response.data[a];
                    console.log("amigoos", data);

                    html += '<li style="display: flex;">';
                    html += '<figure>';
                        html += '<a href="/user/' + data._id + '">';
                    html += '<img src="' + mainURL + '/' + data.profileImage + '" style="width: 40px; height: 40px; object-fit: cover; border-radius: 50%;">';
                    html += '</a>';
                    html += '</figure>';
                    html += '<div class="friend-meta">';
                    html += '<h4 style="margin-top: 10px;">';
                    html += '<a href="/user/' + data._id + '" style="color: #088dcd;">' + data.name + '</a>';
                    html += '</h4>';
                    html += '</div>';
                    
                    html += '</li>';

                   
                    console.log("id usuario logado",window.user._id);

                    

                    }

                

                
                document.getElementById("friends-widget").innerHTML = html;
                }
            };
            var formData = new FormData();
               
            formData.append("_id", document.getElementById("_id").value);

            ajax.send(formData);			
    }
</script>




<input type="hidden" id="_id" value="<%= _id %>">


<script>

    

var showTimeline = true;
		
function getTimeline(){
    var ajax = new XMLHttpRequest();
    ajax.open("POST", "/getTimeline", true);
    
    ajax.onreadystatechange = function(){
        if(this.readyState == 4 && this.status == 200){
            var response = JSON.parse(this.responseText);


            var html = "";

            // pegando os ids de amizade
            var ids_friends = [];
            var status_friends = [];
            console.log("aaaaa", window.user.groups);
            for (var a = 0; a < window.user.groups.length; a++) {
   
                   var data = window.user.groups[a];
                   console.log(data);
                
                    
                
                
                

            }
            console.log(user.friends);
            
            
            console.log("NOW",ids_friends);

            
            
            
                    for (var a = 0; a < response.data.length; a++){
                        var data = response.data[a];
                        //const found = user.friends.some(item => item._id === data.user._id);
                        //console.log(found);
                        // validando se é amigo ou não
                        

                        
                        
                        

                            html += '<div class="avaliacaopage">';
                        html += '<li>';
                            html += createFriendAvaliacao(data);
                    
                        html += '<div class="">';
                            
                        html += '<div class="">';
                            
                        html += '<figure>';
                        

                        
                        html += '<p>Tipo: <span>' + data.tipo + '</span></p>';
                        if(data.image != ""){
                                    html += '<img src="' + mainURL + "/" + data.image + '" style="width: 300px;  object-fit: cover;>';
                                }
                        
                                html += '<div class="page-infos2">';
                        html += '<h4><a' + data._id + '">' + data.name + '</a></h4>';
                        html += '<p> Local de publicação: <span>' + data.autor + '</span></p>';
                        html += '<p>Ano de publicação: <span>' + data.ano + '</span></p>';
                        html += '<p>URL: <span>' + data.editora + '</span></p>';
                        html += '<p>Resumo: <span>' + data.pais + '</span></p>';

                        
                        var data_id = data._id;
                        html += createLikesProfile(data);
                        

                            
                        
						data.comments = data.comments.reverse();
						for (var b = 0; b < data.comments.length; b++) {
							var comment = data.comments[b];
					
							var y = comment.userId;
					
						    if( y == _id.value){
                                var x = comment._id;

                                if( comment.likers2.length == 0){
                                    html += '<p>Likes: 0 <ins></ins></p>';
                                }
                                else{
                                    html += '<p>Likes: <ins>' + comment.likers2.length + '</ins></p>';
                                }
                                

                                html += '</div>';						
                            html += '</div>';
                            
                        html += '</div>';
                        html += '</div>';
                        html += '</li>';
                        html += '</div>';
                            
                       
                        html += '<div class="coment-area">';
					html += '<ul class="we-comet" style="max-height: 150px; overflow-y: scroll;">';
                                
								console.log(comment._id);
								comment.replies = comment.replies.reverse();
								for (var c = 0; c < comment.replies.length; c++) {
									var reply = comment.replies[c];
									
									
									
									html += '<li>';
										html += '<div class="comet-avatar">';
											html += '<img src="' + mainURL + '/' + reply.user.profileImage + '" style="width: 35px; height: 35px; object-fit: cover; border-radius: 50%">';
										html += '</div>';
										html += '<div class="we-comment">';
											html += '<div class="coment-head">';
												html += '<h5><a href="/">' + reply.user.name + '</a></h5>';
												var createdAt = new Date(reply.createdAt);
												var date = createdAt.getDate() + "";
												date = date.padStart(2, "0") + " " + months[createdAt.getMonth()] + ", " + createdAt.getFullYear();
												html += '<span>' + date + '</span>';
											html += '</div>';
											html += '<p>' + reply.reply + '</p>';
										html += '</div>';
									html += '</li>';
											}
										
								html += '</ul>';
						html += '</li>';
					
					
					
				html += '</div>';
							}
						}
						
						
						
					}
					console.log(data_id);
					if(response.data.length <= 0){
						console.log("é menos");
						console.log(response.data.length);
					}else{

						html += '<div class="avaliacao-cl">'
						html += '<div class="row">'
							

							
                            //console.log("likes friend page: ", avaliacoes.length );
						html += '<a class="we-reply" href="javascript:void(0);" data-post-id="' + data_id + '" data-comment-id="' + y + '" onclick="prepareToReply(this);" title="Comentar"><button class="comentarHome">Comentar</button></a>';
						html += '</div>'
						html += '</div>'
						
					}
            document.getElementById("all-pages").innerHTML = html;
        }
    };
    
    var formData = new FormData();
    formData.append("accessToken", localStorage.getItem("accessToken"));
    formData.append("_id", document.getElementById("_id").value);

    ajax.send(formData);			
}
/////////////////////////////////////////////////////////////////////////////////
var showTimeline2 = true;

function getTimeline2(){
    var ajax = new XMLHttpRequest();
    ajax.open("POST", "/getTimeline2", true);
    
    ajax.onreadystatechange = function(){
        if(this.readyState == 4 && this.status == 200){
            var response = JSON.parse(this.responseText);


            var html = "";

            // pegando os ids de amizade
            var ids_friends = [];
            var status_friends = [];
            console.log("aaaaa", window.user.groups);
            for (var a = 0; a < window.user.groups.length; a++) {
   
                   var data = window.user.groups[a];
                   console.log(data);
                
                    ids_friends.push(data._id);
                
                
                

            }
            console.log(user.friends);
            
            
            console.log("NOW",ids_friends);
            
           
            
            
            
                    for (var a = 0; a < response.data.length; a++){
                        var data = response.data[a];
                        //const found = user.friends.some(item => item._id === data.user._id);
                        //console.log(found);
                        // validando se é amigo ou não
               
                        console.log("UHUHUHUHUHUH",ids_friends);

                        
                        
                        

                            html += '<div class="avaliacaopage">';
                        html += '<li>';
                            html += createFriendAvaliacao(data);
                    
                        html += '<div class="">';
                            
                        html += '<div class="">';
                            
                        html += '<figure>';
                        

                        

                        if(data.image != ""){
                                    html += '<img src="' + mainURL + "/" + data.image + '" style="width: 300px;  object-fit: cover;>';
                                }
                        
                                html += '<div class="page-infos2">';
                            html += '<p>Tipo: <span>' + data.tipo + '</span></p>';
                        html += '<h4><a' + data._id + '">' + data.name + '</a></h4>';
                        html += '<p> Diretor: <span>' + data.diretor + '</span></p>';
                        html += '<p>Ano de publicação: <span>' + data.ano + '</span></p>';
                        html += '<p>Elenco: <span>' + data.elenco + '</span></p>';
                        
                        html += '<p>País: <span>' + data.pais + '</span></p>';

                        var data_id = data._id;

                        

                            html += '</div>';						
                            html += '</div>';
                            
                        html += '</div>';
                        html += '</div>';
                        html += '</li>';
                        html += '</div>';
                            
                        html += '<div class="coment-area">';
					html += '<ul class="we-comet" style="max-height: 150px; overflow-y: scroll;">';
						data.comments = data.comments.reverse();
						for (var b = 0; b < data.comments.length; b++) {
							var comment = data.comments[b];
					
							var y = comment.userId;
					
						    if( y == _id.value){
                                var x = comment._id;
								console.log(comment._id);
								comment.replies = comment.replies.reverse();
								for (var c = 0; c < comment.replies.length; c++) {
									var reply = comment.replies[c];
									
									
									
									html += '<li>';
										html += '<div class="comet-avatar">';
											html += '<img src="' + mainURL + '/' + reply.user.profileImage + '" style="width: 35px; height: 35px; object-fit: cover; border-radius: 50%">';
										html += '</div>';
										html += '<div class="we-comment">';
											html += '<div class="coment-head">';
												html += '<h5><a href="/">' + reply.user.name + '</a></h5>';
												var createdAt = new Date(reply.createdAt);
												var date = createdAt.getDate() + "";
												date = date.padStart(2, "0") + " " + months[createdAt.getMonth()] + ", " + createdAt.getFullYear();
												html += '<span>' + date + '</span>';
											html += '</div>';
											html += '<p>' + reply.reply + '</p>';
										html += '</div>';
									html += '</li>';
											}
										
								html += '</ul>';
						html += '</li>';
					
					
					
				html += '</div>';
							}
						}
						
						
						
					}
					console.log(data_id);
					if(response.data.length <= 0){
						console.log("é menos");
						console.log(response.data.length);
					}else{

						html += '<a class="we-reply" href="javascript:void(0);" data-post-id="' + data_id + '" data-comment-id="' + x + '" onclick="prepareToReply2(this);" title="Comentar"><button class="comentarHome">Comentar</button></a>';
						
					}
            document.getElementById("all-movies").innerHTML = html;
        }
    };
    
    var formData = new FormData();
    formData.append("accessToken", localStorage.getItem("accessToken"));
    formData.append("_id", document.getElementById("_id").value);

    ajax.send(formData);			
}

var showTimeline3 = true;

function getTimeline3(){
    var ajax = new XMLHttpRequest();
    ajax.open("POST", "/getTimeline3", true);
    
    ajax.onreadystatechange = function(){
        if(this.readyState == 4 && this.status == 200){
            var response = JSON.parse(this.responseText);

            
            var html = "";

            // pegando os ids de amizade
            var ids_friends = [];
            var status_friends = [];
            console.log("aaaaa", window.user.groups);
            for (var a = 0; a < window.user.groups.length; a++) {
   
                   var data = window.user.groups[a];
                   console.log(data);
                
                    ids_friends.push(data._id);
                
                
                

            }
            console.log(user.friends);
            
            
            
            
            
                    for (var a = 0; a < response.data.length; a++){
                        var data = response.data[a];
                        //const found = user.friends.some(item => item._id === data.user._id);
                        //console.log(found);
                        // validando se é amigo ou não
                        
                        console.log("UHUHUHUHUHUH",ids_friends);
                    

                       
                        
                        
                            

                            html += '<div class="avaliacaopage">';
                        html += '<li>';
                            html += createFriendAvaliacao(data);
                    
                        html += '<div class="">';
                            
                        html += '<div class="">';
                            
                        html += '<figure>';
                        

                        

                        if(data.image != ""){
                                    html += '<img src="' + mainURL + "/" + data.image + '" style="width: 300px;  object-fit: cover;>';
                                }
                        
                                html += '<div class="page-infos2">';
                            html += '<p>Tipo: <span>' + data.tipo + '</span></p>';
                        html += '<h4><a' + data._id + '">' + data.name + '</a></h4>';
                        html += '<p> Diretor: <span>' + data.diretor + '</span></p>';
                        html += '<p>Ano de publicação: <span>' + data.ano + '</span></p>';
                        html += '<p>Elenco: <span>' + data.elenco + '</span></p>';
                        html += '<p>Número de temporadas: <span>' + data.temporadas + '</span></p>';
                        html += '<p>País: <span>' + data.pais + '</span></p>';

                        var data_id = data._id;

                       

                            html += '</div>';						
                            html += '</div>';
                            
                        html += '</div>';
                        html += '</div>';
                        html += '</li>';
                        html += '</div>';
                            
                        html += '<div class="coment-area">';
					html += '<ul class="we-comet" style="max-height: 150px; overflow-y: scroll;">';
						data.comments = data.comments.reverse();
						for (var b = 0; b < data.comments.length; b++) {
							var comment = data.comments[b];
					
							var y = comment.userId;
					
						    if( y == _id.value){
                                var x = comment._id;
								console.log(comment._id);
								comment.replies = comment.replies.reverse();
								for (var c = 0; c < comment.replies.length; c++) {
									var reply = comment.replies[c];
									
									
									
									html += '<li>';
										html += '<div class="comet-avatar">';
											html += '<img src="' + mainURL + '/' + reply.user.profileImage + '" style="width: 35px; height: 35px; object-fit: cover; border-radius: 50%">';
										html += '</div>';
										html += '<div class="we-comment">';
											html += '<div class="coment-head">';
												html += '<h5><a href="/">' + reply.user.name + '</a></h5>';
												var createdAt = new Date(reply.createdAt);
												var date = createdAt.getDate() + "";
												date = date.padStart(2, "0") + " " + months[createdAt.getMonth()] + ", " + createdAt.getFullYear();
												html += '<span>' + date + '</span>';
											html += '</div>';
											html += '<p>' + reply.reply + '</p>';
										html += '</div>';
									html += '</li>';
											}
										
								html += '</ul>';
						html += '</li>';
					
					
					
				html += '</div>';
							}
						}
						
						
						
					}
					console.log(data_id);
					if(response.data.length <= 0){
						console.log("é menos");
						console.log(response.data.length);
					}else{

						html += '<a class="we-reply" href="javascript:void(0);" data-post-id="' + data_id + '" data-comment-id="' + x + '" onclick="prepareToReply3(this);" title="Comentar"><button class="comentarHome">Comentar</button></a>';
						
					}
            
            document.getElementById("all-series").innerHTML = html;
        }
    };
    
    var formData = new FormData();
    formData.append("accessToken", localStorage.getItem("accessToken"));
    formData.append("_id", document.getElementById("_id").value);

    ajax.send(formData);			
}







</script>