<html>
	<head>
		<title> Viewster</title>
		<link rel="stylesheet" href="/public/css/main.min.css">
		<link rel="stylesheet" href="/public/css/style.css">
		<link rel="stylesheet" href="/public/css/color.css">
		<link rel="stylesheet" href="/public/css/responsive.css">
	</head>
	<body>

		<%
			months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December" ];
		%>

		<div class="theme-layout">

			<div class="topbar stick">
				<div class="logo">
					<a href="/home">
						<img src="/public/img/thumbnail.jpg">
					</a>
				</div>

				<div class="top-area">
					<ul class="main-menu" id="main-menu">

					</ul>

					<ul class="setting-area">

						<li>
							<a href="#"><div class="search-icon"><i class="fa fa-search"></i></div> </a>
							<div class="searched">	
								<form onsubmit="return false;" class="form-search">
									<input type="type" placeholder="Search">
									<button data-ripple type="button" onclick="onSearch(this);">
										<i class="ti-search"></i>
									</button>
								</form>
							</div>
						</li>

					</ul>
				</div>
			</div>

			<script>
				var mainURL ="https://damp-oasis-60460.herokuapp.com";

				var months = ["Janeiro", "Fevereiro", "Março", "Abril", "Maio", "Junho", "Julho", "Agosto", "Setembro", "Outubro", "Novembro", "Dezembro"]


				/* Search */
				function onSearch(button){
					window.location.href = "/search/" + button.previousElementSibling.value;
				}

				/* livros comments section */
				function createCommentsSection(data) {
				var html = "";


					var total = 0;
					var nota = [];
					data.comments = data.comments.reverse();
					for (var b = 0; b < data.comments.length; b++) {
						var comment = data.comments[b];
						
						a = parseInt(comment.notaAvaliacao);
						parseInt(a);
						total += a;
						comment.length = b;

						
						


					}
					console.log(total);
					console.log(b);
					totalMedia = (total / b)
					var atual = (Math.round(totalMedia * 100) / 100).toFixed(2);
					
					console.log(atual);

					toString(atual);
					
					
				html += '<div class="coment-area">';
					html += '<ul class="we-comet" style="max-height: 300px; overflow-y: scroll;">';
						html += '<p class = "mediaNota" > <span class="fa fa-star"> </span> Media:' + atual + '</p> '; 
					data.comments = data.comments.reverse();
					for (var b = 0; b < data.comments.length; b++) {
						var comment = data.comments[b];
						
						html += '<li>';
							html += '<div class="comet-avatar">';
								html += '<img src="' + mainURL + '/' + comment.user.profileImage + '" style="width: 30px; height: 35px; object-fit: cover; border-radius: 50%">';
							html += '</div>';
							html += '<div class="we-comment">';
								html += '<div class="coment-head">';
									
									html += '<p> <span class="fa fa-star"></span>' + comment.notaAvaliacao + '</p> '; 
									html += '<h5><a href="/">' + comment.user.name + '</a></h5>';
									var createdAt = new Date(comment.createdAt);
									var date = createdAt.getDate() + "";
									date = date.padStart(2, "0") + " " + months[createdAt.getMonth()] + ", " + createdAt.getFullYear();
									html += '<span>' + date + '</span>';
									//html += '<a class="we-reply" href="javascript:void(0);" data-post-id="' + data._id + '" data-comment-id="' + comment._id + '" onclick="prepareToReply(this);" title="Reply"><i class="fa fa-reply"></i></a>';
									
									html += '</div>';
								html += '<p>' + comment.comment + '</p>';
								
							html += '</div>';
							
						html += '</li>';
					}
					html += '</ul>';
					html += '<ul class="we-comet" style="border: 1px solid #eeeeee; border-radius: 6px 6px 0 0; padding: 10px;">';
						html += '<li class="post-comment">';
							html += '<div class="comet-avatar">';
								html += '<img src="' + mainURL + '/' + window.user.profileImage + '" style="width: 40px; height:40px; object-fit: cover; border-radius: 50%;">';
							html += '</div>';
							html += '<div class="post-comt-box">';
								html += '<form method="post" onsubmit="return doPageComment(this);">';
									html += '<input type="hidden" name="_id" value="' + data._id + '">';
									html += '<div class="">';
									html += '<label class="control-label"> Nota de 1 a 10: </label>';
									html += '<input type="number" name= "notaAvaliacao" min="1" max="10">';
									
									
									
									html += '</div>';
									html += '<textarea name="comment"  maxlength="1024" placeholder="Postar seu comentario sobre o livro."></textarea>';
									html += '<button type="submit">Post</button>';
								html += '</form>';
							html += '</div>';
						html += '</li>';
					html += '</ul>';
				html += '</div>';
				return html;
			}
//////////////////////////////////// MOVIE SECTION
			function createCommentsMovie(data) {
				var html = "";


					var total = 0;
					var nota = [];
					data.comments = data.comments.reverse();
					for (var b = 0; b < data.comments.length; b++) {
						var comment = data.comments[b];
						
						a = parseInt(comment.notaAvaliacao);
						parseInt(a);
						total += a;
						comment.length = b;

						
						


					}
					console.log(total);
					console.log(b);
					totalMedia = (total / b)
					var atual = (Math.round(totalMedia * 100) / 100).toFixed(2);
					
					console.log(atual);

					toString(atual);
					
					
				html += '<div class="coment-area">';
					html += '<ul class="we-comet" style="max-height: 300px; overflow-y: scroll;">';
						html += '<p class = "mediaNota" > <span class="fa fa-star"> </span> Media:' + atual + '</p> '; 
					data.comments = data.comments.reverse();
					for (var b = 0; b < data.comments.length; b++) {
						var comment = data.comments[b];
						
						html += '<li>';
							html += '<div class="comet-avatar">';
								html += '<img src="' + mainURL + '/' + comment.user.profileImage + '" style="width: 30px; height: 35px; object-fit: cover; border-radius: 50%">';
							html += '</div>';
							html += '<div class="we-comment">';
								html += '<div class="coment-head">';
									
									html += '<p> <span class="fa fa-star"></span>' + comment.notaAvaliacao + '</p> '; 
									html += '<h5><a href="/">' + comment.user.name + '</a></h5>';
									var createdAt = new Date(comment.createdAt);
									var date = createdAt.getDate() + "";
									date = date.padStart(2, "0") + " " + months[createdAt.getMonth()] + ", " + createdAt.getFullYear();
									html += '<span>' + date + '</span>';
									//html += '<a class="we-reply" href="javascript:void(0);" data-post-id="' + data._id + '" data-comment-id="' + comment._id + '" onclick="prepareToReply(this);" title="Reply"><i class="fa fa-reply"></i></a>';
									
									html += '</div>';
								html += '<p>' + comment.comment + '</p>';
								
							html += '</div>';
							
						html += '</li>';
					}
					html += '</ul>';
					html += '<ul class="we-comet" style="border: 1px solid #eeeeee; border-radius: 6px 6px 0 0; padding: 10px;">';
						html += '<li class="post-comment">';
							html += '<div class="comet-avatar">';
								html += '<img src="' + mainURL + '/' + window.user.profileImage + '" style="width: 40px; height:40px; object-fit: cover; border-radius: 50%;">';
							html += '</div>';
							html += '<div class="post-comt-box">';
								html += '<form method="post" onsubmit="return doMovieComment(this);">';
									html += '<input type="hidden" name="_id" value="' + data._id + '">';
									html += '<div class="">';
									html += '<label class="control-label"> Nota de 1 a 10: </label>';
									html += '<input type="number" name= "notaAvaliacao" min="1" max="10">';
									
									
									
									html += '</div>';
									html += '<textarea name="comment"  maxlength="1024" placeholder="Postar seu comentario sobre o filme."></textarea>';
									html += '<button type="submit">Post</button>';
								html += '</form>';
							html += '</div>';
						html += '</li>';
					html += '</ul>';
				html += '</div>';
				return html;
			}

			//////////////////////////////////// SERIES SECTION
			function createCommentsSerie(data) {
				var html = "";


					var total = 0;
					var nota = [];
					data.comments = data.comments.reverse();
					for (var b = 0; b < data.comments.length; b++) {
						var comment = data.comments[b];
						
						a = parseInt(comment.notaAvaliacao);
						parseInt(a);
						total += a;
						comment.length = b;

						
						


					}
					console.log(total);
					console.log(b);
					totalMedia = (total / b)
					var atual = (Math.round(totalMedia * 100) / 100).toFixed(2);
					
					console.log(atual);

					toString(atual);
					
					
				html += '<div class="coment-area">';
					html += '<ul class="we-comet" style="max-height: 300px; overflow-y: scroll;">';
						html += '<p class = "mediaNota" > <span class="fa fa-star"> </span> Media:' + atual + '</p> '; 
					data.comments = data.comments.reverse();
					for (var b = 0; b < data.comments.length; b++) {
						var comment = data.comments[b];
						
						html += '<li>';
							html += '<div class="comet-avatar">';
								html += '<img src="' + mainURL + '/' + comment.user.profileImage + '" style="width: 40px; height: 35px; object-fit: cover; border-radius: 50%">';
							html += '</div>';
							html += '<div class="we-comment">';
								html += '<div class="coment-head">';
									
									html += '<p> <span class="fa fa-star"></span>' + comment.notaAvaliacao + '</p> '; 
									html += '<h5><a href="/">' + comment.user.name + '</a></h5>';
									var createdAt = new Date(comment.createdAt);
									var date = createdAt.getDate() + "";
									date = date.padStart(2, "0") + " " + months[createdAt.getMonth()] + ", " + createdAt.getFullYear();
									html += '<span>' + date + '</span>';
									//html += '<a class="we-reply" href="javascript:void(0);" data-post-id="' + data._id + '" data-comment-id="' + comment._id + '" onclick="prepareToReply(this);" title="Reply"><i class="fa fa-reply"></i></a>';
									
									html += '</div>';
								html += '<p>' + comment.comment + '</p>';
								
							html += '</div>';
							
						html += '</li>';
					}
					html += '</ul>';
					html += '<ul class="we-comet" style="border: 1px solid #eeeeee; border-radius: 6px 6px 0 0; padding: 10px;">';
						html += '<li class="post-comment">';
							html += '<div class="comet-avatar">';
								html += '<img src="' + mainURL + '/' + window.user.profileImage + '" style="width: 40px; height:40px; object-fit: cover; border-radius: 50%;">';
							html += '</div>';
							html += '<div class="post-comt-box">';
								html += '<form method="post" onsubmit="return serieComment(this);">';
									html += '<input type="hidden" name="_id" value="' + data._id + '">';
									html += '<div class="">';
									html += '<label class="control-label"> Nota de 1 a 10: </label>';
									html += '<input type="number" name= "notaAvaliacao" min="1" max="10">';
									
									
									
									html += '</div>';
									html += '<textarea name="comment"  maxlength="1024" placeholder="Postar seu comentario sobre a serie."></textarea>';
									html += '<button type="submit">Post</button>';
								html += '</form>';
							html += '</div>';
						html += '</li>';
					html += '</ul>';
				html += '</div>';
				return html;
			}
			
			

			//postar MOVIE comentarios e nota
			function doMovieComment(form) {
				var ajax = new XMLHttpRequest();
				ajax.open("POST", "/movieComment", true);
				ajax.onreadystatechange = function() {
					if (this.readyState == 4 && this.status == 200) {
						var response = JSON.parse(this.responseText);
						alert(response.message);
						if (response.status == "success") {
							form.comment.value = "";
							var commentsHtml = createCommentsMovie(response.updatePost);
							document.getElementById("post-comments-" + form._id.value).innerHTML = commentsHtml;
							var comments = parseInt(document.getElementById("count-post-comments-" + form._id.value).innerHTML);
							comments++;
							document.getElementById("count-post-comments-" + form._id.value).innerHTML = comments;
						}
					}
				};
				var formData = new FormData(form);
				formData.append("accessToken", localStorage.getItem("accessToken"));
				ajax.send(formData);
				return false;
			}

			//postar SERIE comentarios e nota
			function serieComment(form) {
				var ajax = new XMLHttpRequest();
				ajax.open("POST", "/serieComment", true);
				ajax.onreadystatechange = function() {
					if (this.readyState == 4 && this.status == 200) {
						var response = JSON.parse(this.responseText);
						alert(response.message);
						if (response.status == "success") {
							form.comment.value = "";
							var commentsHtml = createCommentsSerie(response.updatePost);
							document.getElementById("post-comments-" + form._id.value).innerHTML = commentsHtml;
							var comments = parseInt(document.getElementById("count-post-comments-" + form._id.value).innerHTML);
							comments++;
							document.getElementById("count-post-comments-" + form._id.value).innerHTML = comments;
						}
					}
				};
				var formData = new FormData(form);
				formData.append("accessToken", localStorage.getItem("accessToken"));
				ajax.send(formData);
				return false;
			}

			/* livros like AVALIACAO section */
			function createLikesAvaliacao1(data){
					
					var isLiked = false;
					
					for (var b = 0; b < data.comments.length; b++){
						var comment = data.comments[b];
						if( comment.userId == user._id){
								var x = comment._id;
						}

						for (var y = 0; y < comment.likers2.length; y++){
						var liker = comment.likers2[y];
						if(liker._id == window.user._id){
							console.log(liker._id, window.user._id);
							isLiked = true;
							break;
						}

					}
					}
					var html = "";
					html += '<div class="we-video-info">';
					html += '<ul>';
					html += '<li>';
							var className = "";
							if(isLiked){
								className = "like";
							}else{
								className = "none";
							}
							
					html += '<span class="' + className + '" onclick="toggleLikePageAvaliacao(this);" data-id="' + x + '">';
					html += '<i class="ti-thumb-up"></i>';
					
					html += '</span>';
					html += '</li>';



					
					
					html += '</ul>';
					html += '</div>';
					return html;
				}

				/* FILMES like AVALIACAO section */
			function createLikesAvaliacao2(data){
					
					var isLiked = false;
					
					for (var b = 0; b < data.comments.length; b++){
						var comment = data.comments[b];
						if( comment.userId == user._id){
								var x = comment._id;
						}

						for (var y = 0; y < comment.likers2.length; y++){
						var liker = comment.likers2[y];
						if(liker._id == window.user._id){
							console.log(liker._id, window.user._id);
							isLiked = true;
							break;
						}

					}
					}
					var html = "";
					html += '<div class="we-video-info">';
					html += '<ul>';
					html += '<li>';
							var className = "";
							if(isLiked){
								className = "like";
							}else{
								className = "none";
							}
							
					html += '<span class="' + className + '" onclick="toggleLikeMovieAvaliacao(this);" data-id="' + x + '">';
					html += '<i class="ti-thumb-up"></i>';
					
					html += '</span>';
					html += '</li>';



					
					
					html += '</ul>';
					html += '</div>';
					return html;
				}
////////////////////////////////////////////////////////////////////////////////
				/* livros like AVALIACAO section */
				function createLikesAvaliacao3(data){
					
					var isLiked = false;
					
					for (var b = 0; b < data.comments.length; b++){
						var comment = data.comments[b];
						if( comment.userId == user._id){
								var x = comment._id;
						}

						for (var y = 0; y < comment.likers2.length; y++){
						var liker = comment.likers2[y];
						if(liker._id == window.user._id){
							console.log(liker._id, window.user._id);
							isLiked = true;
							break;
						}

					}
					}
					var html = "";
					html += '<div class="we-video-info">';
					html += '<ul>';
					html += '<li>';
							var className = "";
							if(isLiked){
								className = "like";
							}else{
								className = "none";
							}
							
					html += '<span class="' + className + '" onclick="toggleLikeSerieAvaliacao(this);" data-id="' + x + '">';
					html += '<i class="ti-thumb-up"></i>';
					
					html += '</span>';
					html += '</li>';



					
					
					html += '</ul>';
					html += '</div>';
					return html;
				}

				
			//////////////////////////////////////////////////////////////////////////
				/* livros like section */
				function createLikesSection2(data){
					
					var isLiked = false;
					
					for (var b = 0; b < data.likers.length; b++){
						var liker = data.likers[b];
						if(liker._id == window.user._id){
							isLiked = true;
							break;
						}
					}
					var html = "";
					html += '<div class="we-video-info">';
					html += '<ul>';
					html += '<li>';
							var className = "";
							if(isLiked){
								className = "like";
							}else{
								className = "none";
							}
					html += '<span class="' + className + '" onclick="toggleLikePage(this);" data-id="' +  data._id + '">';
					html += '<i class="ti-thumb-up"></i>';
					html += '<ins>' + data.likers.length + '</ins>';
					html += '</span>';
					html += '</li>';

					html += '<li>';
							html += '<span class="comment" title="Comments">';
								html += '<i class="fa fa-comments-o"></i>';
								html += '<ins id="count-post-comments-' + data._id + '">' + data.comments.length + '</ins>';
							html += '</span>';
						html += '</li>';


					
					
					html += '</ul>';
					html += '</div>';
					return html;
				}

				/* filmes like section */
				function createLikesSection3(data){
					
					var isLiked = false;
					
					for (var b = 0; b < data.likers.length; b++){
						var liker = data.likers[b];
						if(liker._id == window.user._id){
							isLiked = true;
							break;
						}
					}
					var html = "";
					html += '<div class="we-video-info">';
					html += '<ul>';
					html += '<li>';
							var className = "";
							if(isLiked){
								className = "like";
							}else{
								className = "none";
							}
					html += '<span class="' + className + '" onclick="toggleLikeMovie(this);" data-id="' +  data._id + '">';
					html += '<i class="ti-thumb-up"></i>';
					html += '<ins>' + data.likers.length + '</ins>';
					html += '</span>';
					html += '</li>';

					html += '<li>';
							html += '<span class="comment" title="Comments">';
								html += '<i class="fa fa-comments-o"></i>';
								html += '<ins id="count-post-comments-' + data._id + '">' + data.comments.length + '</ins>';
							html += '</span>';
						html += '</li>';


					
					
					html += '</ul>';
					html += '</div>';
					return html;
				}

				/* series like section */
				function createLikesSection4(data){
					
					var isLiked = false;
					
					for (var b = 0; b < data.likers.length; b++){
						var liker = data.likers[b];
						if(liker._id == window.user._id){
							isLiked = true;
							break;
						}
					}
					var html = "";
					html += '<div class="we-video-info">';
					html += '<ul>';
					html += '<li>';
							var className = "";
							if(isLiked){
								className = "like";
							}else{
								className = "none";
							}
					html += '<span class="' + className + '" onclick="toggleLikeSerie(this);" data-id="' +  data._id + '">';
					html += '<i class="ti-thumb-up"></i>';
					html += '<ins>' + data.likers.length + '</ins>';
					html += '</span>';
					html += '</li>';

					html += '<li>';
							html += '<span class="comment" title="Comments">';
								html += '<i class="fa fa-comments-o"></i>';
								html += '<ins id="count-post-comments-' + data._id + '">' + data.comments.length + '</ins>';
							html += '</span>';
						html += '</li>';


					
					
					html += '</ul>';
					html += '</div>';
					return html;
				}


				////////////////////////////////////////////////////////////////////////////////
				/* PERFIL PESSOAL USUARIOS comments section */
				function createFriendAvaliacao(data) {
					var html = "";
				html += '<div class="coment-area">';
					html += '<ul class="we-comet" style="max-height: 300px; ">';
					data.comments = data.comments.reverse();
					for (var b = 0; b < data.comments.length; b++) {
						var comment = data.comments[b];
						var y = comment.userId;
					
						if( y == _id.value){


							html += '<li>';
							html += '<div class="comet-avatar">';
								html += '<img src="' + mainURL + '/' + comment.user.profileImage + '" style="width: 45px; height: 35px; object-fit: cover; border-radius: 50%">';
							html += '</div>';
							html += '<div class="">';
								html += '<div class="">';
									html += '<h5><a href="/">' + comment.user.name + '</a></h5>';
									var createdAt = new Date(comment.createdAt);
									var date = createdAt.getDate() + "";

									
									date = date.padStart(2, "0") + " " + months[createdAt.getMonth()] + ", " + createdAt.getFullYear();
									html += '<span>' + date + '</span>';
									
								html += '</div>';
								
								html += '<p> ' + comment.comment + '</p>';
								html += '<p> Nota: <span class="fa fa-star"> </span>'  + comment.notaAvaliacao + '</p>';
							html += '</div>';
						}
					}
						
						console.log(data.user._id);
						console.log(user._id);
						
					
				html += '</div>';
				return html;
			}

			/* like section AVALIACAO LIVRO */
			function toggleLikePageAvaliacao(self){
					var _id = self.getAttribute("data-id");
					var ajax = new XMLHttpRequest();
					ajax.open("POST", "/toggleLikePageAvaliacao", true);
					
					ajax.onreadystatechange = function(){
						if(this.readyState == 4 && this.status == 200){
							var response = JSON.parse(this.responseText);				
							alert(response.message);					
							
							if(response.status == "success"){
								self.className = "like";
								//var likes = parseInt(self.querySelector("ins").innerHTML);
								//likes++;
								//self.querySelector("ins").innerHTML = likes;
							}
							if(response.status == "unliked"){
								self.className = "none";
								//var likes = parseInt(self.querySelector("ins").innerHTML);
								//likes--;
								//self.querySelector("ins").innerHTML = likes;
							}
							if(response.status == "error"){
								alert(response.message);
							}							
						}
					};
					var formData = new FormData();
					formData.append("accessToken", localStorage.getItem("accessToken"));
					formData.append("_id", _id);
					ajax.send(formData);
				}

			
				/* like section AVALIACAO FILME */
			function toggleLikeMovieAvaliacao(self){
					var _id = self.getAttribute("data-id");
					var ajax = new XMLHttpRequest();
					ajax.open("POST", "/toggleLikeMovieAvaliacao", true);
					
					ajax.onreadystatechange = function(){
						if(this.readyState == 4 && this.status == 200){
							var response = JSON.parse(this.responseText);				
							alert(response.message);					
							
							if(response.status == "success"){
								self.className = "like";
								//var likes = parseInt(self.querySelector("ins").innerHTML);
								//likes++;
								//self.querySelector("ins").innerHTML = likes;
							}
							if(response.status == "unliked"){
								self.className = "none";
								//var likes = parseInt(self.querySelector("ins").innerHTML);
								//likes--;
								//self.querySelector("ins").innerHTML = likes;
							}
							if(response.status == "error"){
								alert(response.message);
							}							
						}
					};
					var formData = new FormData();
					formData.append("accessToken", localStorage.getItem("accessToken"));
					formData.append("_id", _id);
					ajax.send(formData);
				}

				/* like section AVALIACAO SERIE */
			function toggleLikeSerieAvaliacao(self){
					var _id = self.getAttribute("data-id");
					var ajax = new XMLHttpRequest();
					ajax.open("POST", "/toggleLikeSerieAvaliacao", true);
					
					ajax.onreadystatechange = function(){
						if(this.readyState == 4 && this.status == 200){
							var response = JSON.parse(this.responseText);				
							alert(response.message);					
							
							if(response.status == "success"){
								self.className = "like";
								//var likes = parseInt(self.querySelector("ins").innerHTML);
								//likes++;
								//self.querySelector("ins").innerHTML = likes;
							}
							if(response.status == "unliked"){
								self.className = "none";
								//var likes = parseInt(self.querySelector("ins").innerHTML);
								//likes--;
								//self.querySelector("ins").innerHTML = likes;
							}
							if(response.status == "error"){
								alert(response.message);
							}							
						}
					};
					var formData = new FormData();
					formData.append("accessToken", localStorage.getItem("accessToken"));
					formData.append("_id", _id);
					ajax.send(formData);
				}


			/* like section */
			function toggleLikePage(self){
					var _id = self.getAttribute("data-id");
					var ajax = new XMLHttpRequest();
					ajax.open("POST", "/toggleLikePage", true);
					
					ajax.onreadystatechange = function(){
						if(this.readyState == 4 && this.status == 200){
							var response = JSON.parse(this.responseText);				
							alert(response.message);					
							
							if(response.status == "success"){
								self.className = "like";
								var likes = parseInt(self.querySelector("ins").innerHTML);
								likes++;
								self.querySelector("ins").innerHTML = likes;
							}
							if(response.status == "unliked"){
								self.className = "none";
								var likes = parseInt(self.querySelector("ins").innerHTML);
								likes--;
								self.querySelector("ins").innerHTML = likes;
							}
							if(response.status == "error"){
								alert(response.message);
							}							
						}
					};
					var formData = new FormData();
					formData.append("accessToken", localStorage.getItem("accessToken"));
					formData.append("_id", _id);
					ajax.send(formData);
				}

				/* like section */
			function toggleLikeMovie(self){
					var _id = self.getAttribute("data-id");
					var ajax = new XMLHttpRequest();
					ajax.open("POST", "/toggleLikeMovie", true);
					
					ajax.onreadystatechange = function(){
						if(this.readyState == 4 && this.status == 200){
							var response = JSON.parse(this.responseText);				
							alert(response.message);					
							
							if(response.status == "success"){
								self.className = "like";
								var likes = parseInt(self.querySelector("ins").innerHTML);
								likes++;
								self.querySelector("ins").innerHTML = likes;
							}
							if(response.status == "unliked"){
								self.className = "none";
								var likes = parseInt(self.querySelector("ins").innerHTML);
								likes--;
								self.querySelector("ins").innerHTML = likes;
							}
							if(response.status == "error"){
								alert(response.message);
							}							
						}
					};
					var formData = new FormData();
					formData.append("accessToken", localStorage.getItem("accessToken"));
					formData.append("_id", _id);
					ajax.send(formData);
				}

				/* like section */
			function toggleLikeSerie(self){
					var _id = self.getAttribute("data-id");
					var ajax = new XMLHttpRequest();
					ajax.open("POST", "/toggleLikeSerie", true);
					
					ajax.onreadystatechange = function(){
						if(this.readyState == 4 && this.status == 200){
							var response = JSON.parse(this.responseText);				
							alert(response.message);					
							
							if(response.status == "success"){
								self.className = "like";
								var likes = parseInt(self.querySelector("ins").innerHTML);
								likes++;
								self.querySelector("ins").innerHTML = likes;
							}
							if(response.status == "unliked"){
								self.className = "none";
								var likes = parseInt(self.querySelector("ins").innerHTML);
								likes--;
								self.querySelector("ins").innerHTML = likes;
							}
							if(response.status == "error"){
								alert(response.message);
							}							
						}
					};
					var formData = new FormData();
					formData.append("accessToken", localStorage.getItem("accessToken"));
					formData.append("_id", _id);
					ajax.send(formData);
				}

				
				

				/* PERFIL E TIMELINE comments section */
				function createCommentsSection2(data) {
				var html = "";
				html += '<div class="coment-area">';
					html += '<ul class="we-comet" style="max-height: 300px; ">';
					data.comments = data.comments.reverse();
					for (var b = 0; b < data.comments.length; b++) {
						var comment = data.comments[b];
										
						if( comment.userId == user._id){


							html += '<li>';
							html += '<div class="comet-avatar">';
								html += '<a href="/user/' + user._id + '">';
								html += '<img src="' + mainURL + '/' + comment.user.profileImage + '" style="width: 45px; height: 35px; object-fit: cover; border-radius: 50%">';
								html += '</a>';
								html += '</div>';
							html += '<div class="">';
								html += '<div class="">';
									html += '<a href="/user/' + user._id + '">';
										html += '<h5>' + comment.user.name + '</h5>';
									html += '</a>';
									
									var createdAt = new Date(comment.createdAt);
									var date = createdAt.getDate() + "";

									
									date = date.padStart(2, "0") + " " + months[createdAt.getMonth()] + ", " + createdAt.getFullYear();
									html += '<span>' + date + '</span>';
									
								html += '</div>';
								
								html += '<p> ' + comment.comment + '</p>';
								html += '<p> Nota: <span class="fa fa-star"> </span>'  + comment.notaAvaliacao + '</p>';
							html += '</div>';
						}
					}
						
						console.log(data.user._id);
						console.log(user._id);
						
					
				html += '</div>';
				return html;
			}
			
			//postar livro comentarios e nota
			function doPageComment(form) {
				var ajax = new XMLHttpRequest();
				ajax.open("POST", "/pageComment", true);
				ajax.onreadystatechange = function() {
					if (this.readyState == 4 && this.status == 200) {
						var response = JSON.parse(this.responseText);
						alert(response.message);
						if (response.status == "success") {
							form.comment.value = "";
							var commentsHtml = createCommentsSection(response.updatePost);
							document.getElementById("post-comments-" + form._id.value).innerHTML = commentsHtml;
							var comments = parseInt(document.getElementById("count-post-comments-" + form._id.value).innerHTML);
							comments++;
							document.getElementById("count-post-comments-" + form._id.value).innerHTML = comments;
						}
					}
				};
				var formData = new FormData(form);
				formData.append("accessToken", localStorage.getItem("accessToken"));
				ajax.send(formData);
				return false;
			}



		///////////////////////////////////////////////////////////////////////////////////////////	



		
				

			function prepareToReply(self) {
				$("#replyModal input[name='postId']").val(self.getAttribute("data-post-id"));
				$("#replyModal input[name='commentId']").val(self.getAttribute("data-comment-id"));
				$("#replyModal").modal("show");
			}

			function prepareToReply2(self) {
				$("#replyModal2 input[name='postId']").val(self.getAttribute("data-post-id"));
				$("#replyModal2 input[name='commentId']").val(self.getAttribute("data-comment-id"));
				$("#replyModal2").modal("show");
			}

			function prepareToReply3(self) {
				$("#replyModal3 input[name='postId']").val(self.getAttribute("data-post-id"));
				$("#replyModal3 input[name='commentId']").val(self.getAttribute("data-comment-id"));
				$("#replyModal3").modal("show");
			}
			function doPostReply(form) {
				var ajax = new XMLHttpRequest();
				ajax.open("POST", "/postReply", true);
				ajax.onreadystatechange = function() {
					if (this.readyState == 4 && this.status == 200) {
						var response = JSON.parse(this.responseText);
						alert(response.message);
						if (response.status == "success") {
							form.reply.value = "";
							$("#replyModal").modal("hide");
							
							
						}
					}
				};
				var formData = new FormData(form);
				formData.append("accessToken", localStorage.getItem("accessToken"));
				ajax.send(formData);
				return false;
			}

			function doMovieReply(form) {
				var ajax = new XMLHttpRequest();
				ajax.open("POST", "/filmeReply", true);
				ajax.onreadystatechange = function() {
					if (this.readyState == 4 && this.status == 200) {
						var response = JSON.parse(this.responseText);
						alert(response.message);
						if (response.status == "success") {
							form.reply.value = "";
							$("#replyModal2").modal("hide");
							
							
						}
					}
				};
				var formData = new FormData(form);
				formData.append("accessToken", localStorage.getItem("accessToken"));
				ajax.send(formData);
				return false;
			}

			function doSerieReply(form) {
				var ajax = new XMLHttpRequest();
				ajax.open("POST", "/serieReply", true);
				ajax.onreadystatechange = function() {
					if (this.readyState == 4 && this.status == 200) {
						var response = JSON.parse(this.responseText);
						alert(response.message);
						if (response.status == "success") {
							form.reply.value = "";
							$("#replyModal3").modal("hide");
							
							
						}
					}
				};
				var formData = new FormData(form);
				formData.append("accessToken", localStorage.getItem("accessToken"));
				ajax.send(formData);
				return false;
			}
			

			function createCommentsReview(data) {
				var html = "";


				var html = "";
					html += '<div class="coment-area">';
						html += '<ul class="we-comet" style="max-height: 300px; overflow-y:scroll;">';
						
						//alert(JSON.stringify(data.comments));						
						for(var b = 0; b < data.comments.length; b++){
							var comment = data.comments[b];
							console.log(comment.comments2.length);

							
							html += '<ul>';
							for(var c = 0; c < comment.comments2.length; c++){
								var reply = comment.comments2[c];
											
									html += '<li>';
									html += '<div class="comet-avatar">';
									html += '<img src="' + mainURL + '/' + reply.user.profileImage + '">';
									html += '</div>';
										
									html += '<div class="we-comment">';
									html += '<div class="coment-head">';
									html += '<h5><a href="/">' + reply.user.name + '</a></h5>';
									var createdAt = new Date(reply.createdAt);
									var date = createdAt.getDate() + "";
									date = date.padStart(2, "0") + "" + months[createdAt.getMonth()] + ", " + createdAt.getFullYear();
											
									html += '<span>' + date + '<span>';
									html += '</div>';	
									html += '<p>' + reply.reply + '</p>';
									html += '</div>';
										
											
									html += '</li>';
										
								html += '</ul>';
								html += '</li>';
								html += '</ul>';
							}				
						}
						
						
						html += '<ul class="we-comet">';
							html += '<li class="post-comment">';
							html += '<div class="comet-avatar">';
							html += '<img src="' + mainURL + '/' + window.user.profileImage + '">';
							html += '</div>';
							
							html += '<div class="post-comt-box">';
							html += '<form method="post" onsubmit="return doAvaliacaoComment(this);">';
							html += '<input type="hidden" name="_id" value="' + data._id + '">';
							html += '<textarea name="comment" placeholder="Post your comment"></textarea>';
							html += '<button type="submit"> Post </button>';
							html += '</form>';
							html += '</div>';
							html += '</li>';
						html += '</ul>';
						html += '</div>';
						return html;
					}

				//postar livro comentarios e nota
			function doAvaliacaoComment(form) {
				var ajax = new XMLHttpRequest();
				ajax.open("POST", "/pqp", true);
				ajax.onreadystatechange = function() {
					if (this.readyState == 4 && this.status == 200) {
						var response = JSON.parse(this.responseText);
						alert(response.message);
						if (response.status == "success") {
							
							form.comment.value = "";

							var commentsHtml = createCommentsReview(response.updatePost);
							document.getElementById("post-comments-" + form.postId.value).innerHTML = commentsHtml;
							
							
							
						}
					}
				};
				var formData = new FormData(form);
				formData.append("accessToken", localStorage.getItem("accessToken"));
				ajax.send(formData);
				return false;
			}
				
				




			</script>

			<style>
				#post-img-preview,
				#post-video-preview{
					height: 300px;
					width: 300px;
					object-fit: cover;
				}	
			</style>
		</div>
	</body>
</html>


