<aside class="sidebar static">
	<div class="widget">
		<h4 class="widget-title"> Shortcuts </h4>
		<ul class="naves">

			
			<li> 
				<i class="ti-user"></i>
				<a href="/friends"> Amizades</a>
			</li>
			
			
			
			
			<li> 
				<i class="ti-bell"></i>
				<a href="/notifications">Notificações</a>				
			</li>

			<li> 
				<i class="ti-plus"></i>
				<a href="/suggestFriends">Sugestão de Amizades</a>				
			</li>

			<!--
				<li> 
				<i class="ti-themify-favicon"></i>
				<a href="/chat">Inbox</a>				
			</li>
			 -->
			

			

			<li>
				<i class="ti-files"></i>
				<button class="submenu-1">Cadastrar item</button>
				<ul class="dropdown">
					<li><a href="/createPage">Cadastrar Livro</a></li>
					<li><a href="/createMovie">Cadastrar Filme</a></li>
					<li><a href="/createSerie">Cadastrar Série</a></li>
				  </ul>
			</li>
			
		</ul>
	</div>
</aside>