<%- include ("includes/header") %>

  <!-- Page Content -->
  <div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">Todos os filmes cadastrados
    </h1>

    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="/">Home</a>
      </li>
      <li class="breadcrumb-item active">Admin</li>
    </ol>

    <!-- Blog Post -->
    <div>
        <div class="card mb-4">
          <div class="card-body">
            <div class="row">

              <div class="col-md-12">

				<a href="/admin"><button class="mtr-btn"> <span>Livros</span> </button></a>

				<a href="/admin-series"><button class="mtr-btn"> <span>Séries</span> </button></a>

                <ul class="liked-pages" id="all-pages"></ul>

				
                        <!-- created dynamically -->
                    </tbody>
                </table>

              </div>

            </div>
          </div>
        </div>
    </div>

  </div>

  </div>
  <!-- /.container -->

    <script>

var mainURL ="https://damp-oasis-60460.herokuapp.com/";

        var isMovies2 = true;
	 function getMovies(){
		var ajax = new XMLHttpRequest();
		ajax.open("POST", "/getMovies", true);
			
		ajax.onreadystatechange = function(){
			if(this.readyState == 4 && this.status == 200){
				var response = JSON.parse(this.responseText);
				
				if(response.status == "error"){
					alert(response.message);
					return;
				}
				
				
				var html = "";
				for (var a = 0; a < response.data.length; a++){
					var data = response.data[a];

					if( user._id == "6087240c2a1efb464476ad34"){
						console.log("é igual");

						html += '<li>';
					html += '<div class="f-page">';
					html += '<figure>';
					html += '<a href="/page/' + data._id + '">';
					html += '</a>';
					
					
					
					if(data.image != ""){
								html += '<img src="' + mainURL + "/" + data.image + '" style="width:205px;">';
							}
					
                            html += '<div class="page-infos2">';
							html += '<p>Tipo: <span>' + data.tipo + '</span></p>';
						html += '<h4><a href="/page/' + data._id + '">' + data.name + '</a></h4>';
						html += '<p> Diretor: <span>' + data.diretor + '</span></p>';
						html += '<p>Ano de publicação: <span>' + data.ano + '</span></p>';
						html += '<p>Elenco: <span>' + data.elenco + '</span></p>';
						html += '<p>País: <span>' + data.pais + '</span></p>';

                    html +=' <form onsubmit="return doDeletePost(this);" style="margin-left: 5px;">';
                        html += '<input type="hidden" name="_id" value="' + data._id + '">';
                        html +='<button class="mtr-btn signup btn btn-sm btn-danger" name="submit" type="submit">';
                            html +='<span>Delete</span>';
                            html +=' </button>';
                            html += '</form>';

					
							html += '</div>';						
							html += '</div>';
							

					html += '</div>';
					html += '</div>';
					html += '</li>';

					}

					
					
				}
				if( user._id != "6087240c2a1efb464476ad34"){
					html += '<p class= "footer-name">SOMENTE O ADMINISTRADOR TEM ACESSO A ESSA PÁGINA <span> </span></p>';
				}


				document.getElementById("all-pages").innerHTML = html;
			}
		};
		
	var formData = new FormData();
	formData.append("accessToken", localStorage.getItem("accessToken"));
	ajax.send(formData);		
	}

    //////////////////////////////////////////////////////
    function doDeletePost(form) {
			var ajax = new XMLHttpRequest();
			ajax.open("POST", "/delete-movie", true);
			ajax.onreadystatechange = function() {
				if (this.readyState == 4 && this.status == 200) {
					var response = JSON.parse(this.responseText);
					alert(response.message);
					if (response.status == "success") {
						form.parentElement.parentElement.remove();
					}
				}
			};
			var formData = new FormData(form);
			formData.append("accessToken", localStorage.getItem("accessToken"));
            
			ajax.send(formData);
			return false;
		}
    </script>

<%- include ("includes/foooter") %>