<%- include("includes/header") %>

	<section>
		<div class="gap grap-bg">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-12">
						<div class="row" id="page-contents">

							<div class="col-md-3">
								<%- include ("includes/left-sidebar") %>
							</div>
							
							
							<div class="col-md-6">
								<div class="tab-content">
									
							

								

							<ul class="liked-pages2" id="all-pages"></ul>

							<ul class="liked-pages2" id="all-movies"></ul>

							<ul class="liked-pages2" id="all-series"></ul>


							</div>

						</div>
						<div class="col-md-3">
							
							<%- include ("includes/friends-widget") %>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>




	<script>
		var isHomePage = true;

		function doPost(form){
			var ajax = new XMLHttpRequest();
			ajax.open("POST", "/addPost", true);

			ajax.onreadystatechange = function(){
				if(this.readyState == 4 && this.status == 200){

					var response = JSON.parse(this.responseText);

					alert(response.message);

					if(response.status == "success"){
						document.getElementById("form-add-post").querySelector("input[name='image']").value= "";
						document.getElementById("form-add-post").querySelector("input[name='video']").value= "";
						document.getElementById("form-add-post").querySelector("textarea[name='caption']").value= "";

						document.getElementById("post-img-preview").style.display = "none";
						document.getElementById("post-video-preview").style.display = "none";

						showNewsfeed();
						
					}
				}
			};

			var formData = new FormData(form);
			formData.append("accessToken", localStorage.getItem("accessToken"));
			ajax.send(formData);

			return false;
		}


			
		//show newsfeed
		function showNewsfeed(){
			var ajax = new XMLHttpRequest();
				ajax.open("POST", "/getNewsfeed", true);
				
				ajax.onreadystatechange = function(){
					if(this.readyState == 4 && this.status == 200){
						var response = JSON.parse(this.responseText);			
				
					var html = "";
					for (var a=0; a < response.data.length; a++){
						var data = response.data[a];
						
						html += '<div class="central-meta item">';
						html += '<div class="user-post">';
						html += '<div class="friend-info">';
						html += '<figure>';
						html += '<img src="' + mainURL + "/" + data.user.profileImage + '" style="width:45px; heidht:45px; object-fit:cover;">';
						html += '</figure>';
						html += '<div class="friend-name">';
						
						html += '<ins>';
						html += '<a href="/user/' + data.user._id + '">';
						html += data.user.name;
						html += '<br>';
						
						html += '</a>';
						html += '</ins>';
						

						var createdAt = new Date(data.createdAt);
						var date = createdAt.getDate() + "";
						date = date.padStart(2, "0") + " " + months[createdAt.getMonth()] + ", " + createdAt.getFullYear();
						
						html += '<span>Published: ' + date + '</span>';						
						html += '</div>';	
						html += '<div class="post-meta">';
						html += '<div class="description">';
						html += '<p>';
						html += data.caption;
						html += '</p>';
						html += '</div>';
						//html += '<a class= "add-btn" href="/post/' + data._id + '">Editar</a>';
						//html += '<br> </br>';
			//html += '<button type="button" class= "add-btn2" onclick="doDelete(\'' + data._id + '\');">Delete</button>';
			//html += '<button type="button" class= "add-btn2" data-id="' + data._id + '" onclick="doDelete(this);">Delete</button>'			
								if(data.image != ""){
									html += '<img src="' + mainURL + "/" + data.image + '">';
								}
							if(data.video != ""){
								html += '<video style="height:359px; width:100%;" controls src="' + mainURL + "/" + data.video + '"></video>';
							}
							
						html += createLikesSection(data);	
						
						html += '</div>';						
						html += '</div>';
						
						html += createCommentsSection(data);
						
						html += '</div>';
						html += '</div>';
					}
					document.getElementById("newsfeed").innerHTML = html;					
				}
			};
			
			
			var formData = new FormData();
			formData.append("accessToken", localStorage.getItem("accessToken"));
			ajax.send(formData);
		}


		
	/*	
		var isPages = true;
		function getPages(){
			var ajax = new XMLHttpRequest();
			ajax.open("POST", "/getPages", true);
				
			ajax.onreadystatechange = function(){
				if(this.readyState == 4 && this.status == 200){
					var response = JSON.parse(this.responseText);
					
					if(response.status == "error"){
						alert(response.message);
						return;
					}
					
					var html = "";
					for (var a = 0; a < response.data.length; a++){
						var data = response.data[a];
						
						html += '<li>';
						html += '<div class="f-page">';
						html += '<figure>';
						html += '<a href="/page/' + data._id + '">';
						html += '</a>';
						
						html += '<em>' + data.likers.length + ' likes </em>';
						html += '</figure>';

						if(data.image != ""){
									html += '<img src="' + mainURL + "/" + data.image + '">';
								}
						
						html += '<div class="page-infos2">';
						html += '<h4><a href="/page/' + data._id + '">' + data.name + '</a></h4>';
						html += '<p> Local de publicação: <span>' + data.autor + '</span></p>';
						html += '<p>Ano de publicação: <span>' + data.ano + '</span></p>';
						html += '<p>URL: <span>' + data.editora + '</span></p>';
						html += '<p>Resumo: <span>' + data.pais + '</span></p>';

					
						html += '</div>';
						html += '</div>';
						html += '</li>';
					}
					document.getElementById("all-pages").innerHTML = html;
				}
			};
			
		var formData = new FormData();
		formData.append("accessToken", localStorage.getItem("accessToken"));
		ajax.send(formData);		
		}	 
		*/

		var isAvaliacao = true;
		function getAvaliacao(){
			var ajax = new XMLHttpRequest();
			ajax.open("POST", "/getAvaliacao", true);
				
			ajax.onreadystatechange = function(){
				if(this.readyState == 4 && this.status == 200){
					var response = JSON.parse(this.responseText);
					
					if(response.status == "error"){
						alert(response.message);
						return;
					}
					
					var html = "";
					for (var a = 0; a < response.data.length; a++){
						var data = response.data[a];
						html += '<div class="avaliacaopage">';
						html += '<li>';
							html += createCommentsSection2(data);
							
						html += '<div class="">';
							
						html += '<figure>';
						
						
						
						html += '</figure>';

						if(data.image != ""){
									html += '<img src="' + mainURL + "/" + data.image + '" style="width: 300px;  object-fit: cover;>';
								}
						
								html += '<div class="page-infos2">';
                        html += '<h4><a' + data._id + '">' + data.name + '</a></h4>';
                        html += '<p> Local de publicação: <span>' + data.autor + '</span></p>';
                        html += '<p>Ano de publicação: <span>' + data.ano + '</span></p>';
                        html += '<p>URL: <span>' + data.editora + '</span></p>';
                        html += '<p>Resumo: <span>' + data.pais + '</span></p>';

						var data_id = data._id;
						
						html += createLikesAvaliacao1(data);
						
						
						data.comments = data.comments.reverse();
						for (var b = 0; b < data.comments.length; b++) {
							
							var comment = data.comments[b];
					
							if( comment.userId == user._id){
								html += '<p>Likes: <ins>' + comment.likers2.length + '</ins></p>';

							html += '</div>';						
							html += '</div>';
							
							
						html += '</div>';
						html += '</div>';
						
						html += '</li>';
						html += '</div>';
						html += '<div class="coment-area">';
					html += '<ul class="we-comet" style="max-height: 150px; overflow-y: scroll;">';
						
								var y = comment._id;
								console.log(comment._id);
								comment.replies = comment.replies.reverse();
								for (var c = 0; c < comment.replies.length; c++) {
									var reply = comment.replies[c];
									
									
									
									html += '<li>';
										html += '<div class="comet-avatar">';
											html += '<img src="' + mainURL + '/' + reply.user.profileImage + '" style="width: 40px; height: 35px; object-fit: cover; border-radius: 50%">';
										html += '</div>';
										html += '<div class="we-comment">';
											html += '<div class="coment-head">';
												html += '<h5><a href="/">' + reply.user.name + '</a></h5>';
												var createdAt = new Date(reply.createdAt);
												var date = createdAt.getDate() + "";
												date = date.padStart(2, "0") + " " + months[createdAt.getMonth()] + ", " + createdAt.getFullYear();
												html += '<span>' + date + '</span>';
											html += '</div>';
											html += '<p>' + reply.reply + '</p>';
										html += '</div>';
									html += '</li>';
											}
										
								html += '</ul>';
						html += '</li>';
					
					
					
				html += '</div>';
							}
						}
						
						
						
					}
					if(response.data.length <= 0){
						console.log("é menos");
						console.log(response.data.length);
					}else{
						html += '<div class="avaliacao-cl">'
						html += '<div class="row">'
							

							
						html += '<a class="we-reply" href="javascript:void(0);" data-post-id="' + data_id + '" data-comment-id="' + y + '" onclick="prepareToReply(this);" title="Comentar"><button class="comentarHome">Comentar</button></a>';
						html += '</div>'
						html += '</div>'
					}
					
					document.getElementById("all-pages").innerHTML = html;
				}
				
			};
			
		var formData = new FormData();
		formData.append("accessToken", localStorage.getItem("accessToken"));
		ajax.send(formData);		
		}


		var isAvaliacao2 = true;
		function getAvaliacaoMovie(){
			var ajax = new XMLHttpRequest();
			ajax.open("POST", "/getAvaliacaoMovie", true);
				
			ajax.onreadystatechange = function(){
				if(this.readyState == 4 && this.status == 200){
					var response = JSON.parse(this.responseText);
					
					if(response.status == "error"){
						alert(response.message);
						return;
					}
					
					var html = "";
					for (var a = 0; a < response.data.length; a++){
						var data = response.data[a];
						html += '<div class="avaliacaopage">';
						html += '<li>';
							html += createCommentsSection2(data);
							
						html += '<div class="">';
							
						html += '<figure>';
						
						
						
						html += '</figure>';

						if(data.image != ""){
									html += '<img src="' + mainURL + "/" + data.image + '" style="width: 300px;  object-fit: cover;>';
								}
						
						html += '<div class="page-infos2">';
							html += '<p>Tipo: <span>' + data.tipo + '</span></p>';
						html += '<h4><a' + data._id + '">' + data.name + '</a></h4>';
						html += '<p> Diretor: <span>' + data.diretor + '</span></p>';
						html += '<p>Ano de publicação: <span>' + data.ano + '</span></p>';
						html += '<p>Elenco: <span>' + data.elenco + '</span></p>';
						html += '<p>País: <span>' + data.pais + '</span></p>';

						var data_id = data._id;
						
						html += createLikesAvaliacao2(data);
						

							html += '</div>';						
							html += '</div>';
							
							
						html += '</div>';
						html += '</div>';
						
						html += '</li>';
						html += '</div>';
						html += '<div class="coment-area">';
					html += '<ul class="we-comet" style="max-height: 150px; overflow-y: scroll;">';
						data.comments = data.comments.reverse();
						for (var b = 0; b < data.comments.length; b++) {
							var comment = data.comments[b];
					
							if( comment.userId == user._id){
								var y = comment._id;
								console.log(comment._id);
								comment.replies = comment.replies.reverse();
								for (var c = 0; c < comment.replies.length; c++) {
									var reply = comment.replies[c];
									
									
									
									html += '<li>';
										html += '<div class="comet-avatar">';
											html += '<img src="' + mainURL + '/' + reply.user.profileImage + '" style="width: 40px; height: 35px; object-fit: cover; border-radius: 50%">';
										html += '</div>';
										html += '<div class="we-comment">';
											html += '<div class="coment-head">';
												html += '<h5><a href="/">' + reply.user.name + '</a></h5>';
												var createdAt = new Date(reply.createdAt);
												var date = createdAt.getDate() + "";
												date = date.padStart(2, "0") + " " + months[createdAt.getMonth()] + ", " + createdAt.getFullYear();
												html += '<span>' + date + '</span>';
											html += '</div>';
											html += '<p>' + reply.reply + '</p>';
										html += '</div>';
									html += '</li>';
											}
										
								html += '</ul>';
						html += '</li>';
					
					
					
				html += '</div>';
							}
						}
						
						
						
					}
					if(response.data.length <= 0){
						console.log("é menos");
						console.log(response.data.length);
					}else{
						html += '<div class="avaliacao-cl">'
						html += '<div class="row">'
							

							html += '<p>Likes: <ins>' + comment.likers2.length + '</ins></p>';
						html += '<a class="we-reply" href="javascript:void(0);" data-post-id="' + data_id + '" data-comment-id="' + y + '" onclick="prepareToReply2(this);" title="Comentar"><button class="comentarHome">Comentar</button></a>';
						html += '</div>'
						html += '</div>'
					}
					
					document.getElementById("all-movies").innerHTML = html;
				}
				
			};
			
		var formData = new FormData();
		formData.append("accessToken", localStorage.getItem("accessToken"));
		ajax.send(formData);		
		}

		var isAvaliacao3 = true;
		function getAvaliacaoSerie(){
			var ajax = new XMLHttpRequest();
			ajax.open("POST", "/getAvaliacaoSerie", true);
				
			ajax.onreadystatechange = function(){
				if(this.readyState == 4 && this.status == 200){
					var response = JSON.parse(this.responseText);
					
					if(response.status == "error"){
						alert(response.message);
						return;
					}
					
					var html = "";
					for (var a = 0; a < response.data.length; a++){
						var data = response.data[a];
						html += '<div class="avaliacaopage">';
						html += '<li>';
							html += createCommentsSection2(data);
							
							
						html += '<div class="">';
							
						html += '<figure>';
						
						
						
						html += '</figure>';

						if(data.image != ""){
									html += '<img src="' + mainURL + "/" + data.image + '" style="width: 300px;  object-fit: cover;>';
								}
						
						html += '<div class="page-infos2">';
							html += '<p>Tipo: <span>' + data.tipo + '</span></p>';
						html += '<h4><a' + data._id + '">' + data.name + '</a></h4>';
						html += '<p> Diretor: <span>' + data.diretor + '</span></p>';
						html += '<p>Ano de publicação: <span>' + data.ano + '</span></p>';
						html += '<p>Elenco: <span>' + data.elenco + '</span></p>';
						html += '<p>Número de temporadas: <span>' + data.temporadas + '</span></p>';
						html += '<p>País: <span>' + data.pais + '</span></p>';
						
						var data_id = data._id;
						html += createLikesAvaliacao3(data);
						
							html += '</div>';						
							html += '</div>';
							
						html += '</div>';
						html += '</div>';
						html += '</li>';
						html += '</div>';
						html += '<div class="coment-area">';
					html += '<ul class="we-comet" style="max-height: 150px; overflow-y: scroll;">';
						data.comments = data.comments.reverse();
						for (var b = 0; b < data.comments.length; b++) {
							var comment = data.comments[b];
					
							if( comment.userId == user._id){
								var y = comment._id;
								console.log(comment._id);
								comment.replies = comment.replies.reverse();
								for (var c = 0; c < comment.replies.length; c++) {
									var reply = comment.replies[c];
									
									
									
									html += '<li>';
										html += '<div class="comet-avatar">';
											html += '<img src="' + mainURL + '/' + reply.user.profileImage + '" style="width: 40px; height: 35px; object-fit: cover; border-radius: 50%">';
										html += '</div>';
										html += '<div class="we-comment">';
											html += '<div class="coment-head">';
												html += '<h5><a href="/">' + reply.user.name + '</a></h5>';
												var createdAt = new Date(reply.createdAt);
												var date = createdAt.getDate() + "";
												date = date.padStart(2, "0") + " " + months[createdAt.getMonth()] + ", " + createdAt.getFullYear();
												html += '<span>' + date + '</span>';
											html += '</div>';
											html += '<p>' + reply.reply + '</p>';
										html += '</div>';
									html += '</li>';
											}
										
								html += '</ul>';
						html += '</li>';
					
					
					
				html += '</div>';
							}
						}
						
						
						
					}
					
					if(response.data.length <= 0){
						console.log("é menos");
						console.log(response.data.length);
					}else{

						
						html += '<div class="avaliacao-cl">'
						html += '<div class="row">'
							

							html += '<p>Likes: <ins>' + comment.likers2.length + '</ins></p>';
							html += '<a class="we-reply" href="javascript:void(0);" data-post-id="' + data_id + '" data-comment-id="' + y + '" onclick="prepareToReply3(this);" title="Comentar"><button class="comentarHome">Comentar</button></a>';
						html += '</div>'
						html += '</div>'
					}
					
					
					
					document.getElementById("all-series").innerHTML = html;
				}
			};
			
		var formData = new FormData();
		formData.append("accessToken", localStorage.getItem("accessToken"));
		ajax.send(formData);		
		}
		



	</script>





<%- include("includes/foooter") %>