<%- include ("includes/header") %>
<section>
	<div class="gap gray-bg">
		<div class="container-fluid">

			<div class="row">
				<div class="offset-md-3 col-md-6">
					<div class="timeline-info">
						<ul class="nav nav-tabs">
							<li>
								<a class="active" data-toggle="tab" href="#people">People</a>
								<a data-toggle="tab" href="#pages">Livros</a>
								<a data-toggle="tab" href="#movies">Filmes</a>
								<a data-toggle="tab" href="#series">Series</a>
								<a data-toggle="tab" href="#groups">Groups</a>
							</li>
						</ul>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12">
					<div class="row" id="page-contents">

						<div class="col-md-3"></div>

						<div class="col-md-6">
							<div class="central-meta">
								<div class="frnds">

									<div class="tab-content">
										<div class="tab-pane active fade show" id="people">
											<ul class="nearby-contct" id="search-results"></ul>
										</div>

										<div class="tab-pane active fade" id="pages">
											<ul class="nearby-contct" id="search-result-pages"></ul>


										</div>

										<div class="tab-pane active fade" id="movies">
											<ul class="nearby-contct" id="search-result-movies"></ul>


										</div>

										<div class="tab-pane active fade" id="series">
											<ul class="nearby-contct" id="search-result-series"></ul>


										</div>

										<div class="tab-pane active fade" id="groups">
											<ul class="nearby-contct" id="search-result-groups"></ul>


										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="col-md-3"></div>

					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<input type="hidden" id="query" value="<%= query %>">

<script>

				/* livros like section */
				function createLikesSection(data){
					
					var isLiked = false;
					
					for (var b = 0; b < data.likers.length; b++){
						var liker = data.likers[b];
						if(liker._id == window.user._id){
							isLiked = true;
							break;
						}
					}
					var html = "";
					html += '<div class="we-video-info">';
					html += '<ul>';
					html += '<li>';
							var className = "";
							if(isLiked){
								className = "like";
							}else{
								className = "none";
							}
					html += '<span class="' + className + '" onclick="toggleLikePage(this);" data-id="' +  data._id + '">';
					html += '<i class="ti-thumb-up"></i>';
					html += '<ins>' + data.likers.length + '</ins>';
					html += '</span>';
					html += '</li>';

					html += '<li>';
							html += '<span class="comment" title="Comments">';
								html += '<i class="fa fa-comments-o"></i>';
								html += '<ins id="count-post-comments-' + data._id + '">' + data.comments.length + '</ins>';
							html += '</span>';
						html += '</li>';
					
					
					html += '</ul>';
					html += '</div>';
					return html;
				}

				function createNota(data) {
				var html = "";
				html += '<div class="coment-area">';
					html += '<ul class="we-comet" style="max-height: 300px; overflow-y: scroll;">';
					var total = 0;
					var nota = [];
					data.comments = data.comments.reverse();
					for (var b = 0; b < data.comments.length; b++) {
						var comment = data.comments[b];
						a = parseInt(comment.notaAvaliacao);
						parseInt(a);
						total += a;
						comments.length = b;
						console.log(b);


					}
					console.log(b);

					toString(total);

					html += '<p>' + total + '</p> '; 
				}
				

				/* livros comments section */
				function createCommentsSection(data) {
				var html = "";


					var total = 0;
					var nota = [];
					data.comments = data.comments.reverse();
					for (var b = 0; b < data.comments.length; b++) {
						var comment = data.comments[b];
						
						a = parseInt(comment.notaAvaliacao);
						parseInt(a);
						total += a;
						comment.length = b;

						
						


					}
					console.log(total);
					console.log(b);
					totalMedia = (total / b)
					console.log(totalMedia);

					toString(totalMedia);
					
					
				html += '<div class="coment-area">';
					html += '<ul class="we-comet" style="max-height: 300px; overflow-y: scroll;">';
						html += '<p class = "mediaNota" > <span class="fa fa-star"> </span> Media:' + totalMedia + '</p> '; 
					data.comments = data.comments.reverse();
					for (var b = 0; b < data.comments.length; b++) {
						var comment = data.comments[b];
						
						html += '<li>';
							html += '<div class="comet-avatar">';
								html += '<img src="' + mainURL + '/' + comment.user.profileImage + '" style="width: 35px; height: 35px; object-fit: cover; border-radius: 50%">';
							html += '</div>';
							html += '<div class="we-comment">';
								html += '<div class="coment-head">';
									
									html += '<p> <span class="fa fa-star"></span>' + comment.notaAvaliacao + '</p> '; 
									html += '<h5><a href="/">' + comment.user.name + '</a></h5>';
									var createdAt = new Date(comment.createdAt);
									var date = createdAt.getDate() + "";
									date = date.padStart(2, "0") + " " + months[createdAt.getMonth()] + ", " + createdAt.getFullYear();
									html += '<span>' + date + '</span>';
									html += '<a class="we-reply" href="javascript:void(0);" data-post-id="' + data._id + '" data-comment-id="' + comment._id + '" onclick="prepareToReply(this);" title="Reply"><i class="fa fa-reply"></i></a>';
									
									html += '</div>';
								html += '<p>' + comment.comment + '</p>';
								
							html += '</div>';
							html += '<ul>';
								comment.replies = comment.replies.reverse();
								for (var c = 0; c < comment.replies.length; c++) {
									var reply = comment.replies[c];
									html += '<li>';
										html += '<div class="comet-avatar">';
											html += '<img src="' + mainURL + '/' + reply.user.profileImage + '" style="width: 35px; height: 35px; object-fit: cover; border-radius: 50%">';
										html += '</div>';
										html += '<div class="we-comment">';
											html += '<div class="coment-head">';
												html += '<h5><a href="/">' + reply.user.name + '</a></h5>';
												var createdAt = new Date(reply.createdAt);
												var date = createdAt.getDate() + "";
												date = date.padStart(2, "0") + " " + months[createdAt.getMonth()] + ", " + createdAt.getFullYear();
												html += '<span>' + date + '</span>';
											html += '</div>';
											html += '<p>' + reply.reply + '</p>';
										html += '</div>';
									html += '</li>';
								}
								html += '</ul>';
						html += '</li>';
					}
					html += '</ul>';
					html += '<ul class="we-comet" style="border: 1px solid #eeeeee; border-radius: 6px 6px 0 0; padding: 10px;">';
						html += '<li class="post-comment">';
							html += '<div class="comet-avatar">';
								html += '<img src="' + mainURL + '/' + window.user.profileImage + '" style="width: 60px; height:40px; object-fit: cover; border-radius: 50%;">';
							html += '</div>';
							html += '<div class="post-comt-box">';
								html += '<form method="post" onsubmit="return doPageComment(this);">';
									html += '<input type="hidden" name="_id" value="' + data._id + '">';
									html += '<div class="">';
									html += '<label class="control-label"> Nota de 1 a 10: </label>';
									html += '<input type="number" name= "notaAvaliacao" min="1" max="10">';
									
									
									
									html += '</div>';
									html += '<textarea name="comment"  maxlength="1024" placeholder="Postar seu comentario sobre o livro,"></textarea>';
									html += '<button type="submit">Post</button>';
								html += '</form>';
							html += '</div>';
						html += '</li>';
					html += '</ul>';
				html += '</div>';
				return html;
			}
			
			//postar livro comentarios e nota
			function doPageComment(form) {
				var ajax = new XMLHttpRequest();
				ajax.open("POST", "/pageComment", true);
				ajax.onreadystatechange = function() {
					if (this.readyState == 4 && this.status == 200) {
						var response = JSON.parse(this.responseText);
						alert(response.message);
						if (response.status == "success") {
							form.comment.value = "";
							var commentsHtml = createCommentsSection(response.updatePost);
							document.getElementById("post-comments-" + form._id.value).innerHTML = commentsHtml;
							var comments = parseInt(document.getElementById("count-post-comments-" + form._id.value).innerHTML);
							comments++;
							document.getElementById("count-post-comments-" + form._id.value).innerHTML = comments;
						}
					}
				};
				var formData = new FormData(form);
				formData.append("accessToken", localStorage.getItem("accessToken"));
				ajax.send(formData);
				return false;
			}


				/* Post comment reply*/
				function prepareToReply(self){
					$("#replyModal input[name='postId']").val(self.getAttribute("data-post-id"));
					$("#replyModal input[name='commentId']").val(self.getAttribute("data-comment-id"));
					$("#replyModal").modal("show");
				}
				
				function doPostReply(form){
					var ajax = new XMLHttpRequest();
					ajax.open("POST", "/postReply", true);
					
					ajax.onreadystatechange = function(){
						if(this.readyState == 4 && this.status == 200){
							var response = JSON.parse(this.responseText);							
							alert(response.message);
							
							if(response.status == "success"){
								form.reply.value = "";
								$("#replyModal").modal("hide");
							}
						}
					};
					
					var formData = new FormData(form);
					formData.append("accessToken", localStorage.getItem("accessToken"));
					ajax.send(formData);
					return false;
				}
	var isSearchResults = true;

	function showSearchResults(){
		var ajax = new XMLHttpRequest();
		ajax.open("POST", "/search", true);
		
		ajax.onreadystatechange = function(){
			if(this.readyState == 4 && this.status == 200){
				var response = JSON.parse(this.responseText);
				
					if(response.status == "success"){

					var html = "";
					for(var a=0; a < response.data.length; a++){
						var data = response.data[a];
						
						if(data._id == window.user._id){
							continue;
						}
						
						var isFriend = false;
						for(var b=0; b < window.user.friends.length; b++){
							var tempData = window.user.friends[b];
							if(tempData._id == data._id){
								isFriend = true;
								break;
							}
						}

						html += '<li>';
						html += '<div class="nearly-pepls">';
						html += '<figure>';
						html += '<a href="/user/' + data._id + '">';
						html += '<img src="' + mainURL + '/' + data.profileImage + '">';
						html += '</a>';
						html += '</figure>';
						
						html += '<div class="pepl-info">';
						html += '<h4>';
						html += '<a href="/">' + data.name + '</a>';
						html += '</h4>';
						
						if (isFriend) {
								html += '<a href="javascript:void(0);" data-id="' + data._id + '" onclick="doUnfriend(this)"; class="add-butn btn-unfriend">Unfriend</a>';
							}
							else {
								html += '<a href="javascript:void(0);" data-id="' + data._id + '" onclick="sendFriendRequest(this)"; class="add-butn">Add Friend</a>';
							}

						
						html += '</div>';						
						html += '</div>';
						html += '</li>';						
					}
					document.getElementById("search-results").innerHTML = html;

						//search pages list display
						var html = "";						
						for (var a = 0; a < response.pages.length; a++){
							var data = response.pages[a];
							
							var isLiked = false;
							for (var b =0; b < window.user.pages.length; b++){
								var tempData = window.user.pages[b];
								if(tempData._id.toString() == data._id.toString()){
									isLiked = true;
									break;
								}
							}
							
							html += '<li>';
								
							html += '<div class="nearly-pepls">';
							
							html += '<div class="pepl-info">';


							html += '<h4>';
								if(data.image != ""){
								html += '<img src="' + mainURL + "/" + data.image + '" style="width:205px;">';
							}
							html += '<br>'
							html += '<br>'
							html += '<a href="/">' + data.name + '</a>';
							html += '</h4>';
							html += '<p> Autor: <span>' + data.autor + '</span></p>';
							html += '<p>Editora: <span>' + data.editora + '</span></p>';
							html += '<p>Ano de publicação: <span>' + data.ano + '</span></p>';
							html += '<p>Pais: <span>' + data.pais + '</span></p>';
							

							
							

							html += '</div>';						
							html += '</div>';
							html += "<div id='post-comments-" + data._id + "'>";
							html += createCommentsSection(data);

							
							
							
							html += '</div>';
							html += '</div>';
							html += '</li>';
						}
						
						document.getElementById("search-result-pages").innerHTML = html;

						//search movies list display
						var html = "";						
						for (var a = 0; a < response.movies.length; a++){
							var data = response.movies[a];
							
							var isLiked = false;
							for (var b =0; b < window.user.movies.length; b++){
								var tempData = window.user.movies[b];
								if(tempData._id.toString() == data._id.toString()){
									isLiked = true;
									break;
								}
							}
							
							html += '<li>';
							html += '<div class="nearly-pepls">';
							
							html += '<div class="pepl-info">';
							html += '<h4>';
								if(data.image != ""){
								html += '<img src="' + mainURL + "/" + data.image + '" style="width:205px;">';
							}
							html += '<a href="/">' + data.name + '</a>';
							html += '</h4>';
							html += '<p> Diretor: <span>' + data.diretor + '</span></p>';
							html += '<p>elenco: <span>' + data.elenco + '</span></p>';
							html += '<p>Ano de publicação: <span>' + data.ano + '</span></p>';
							html += '<p>Pais: <span>' + data.pais + '</span></p>';
							

							
							
							
							html += '</div>';
							html += '</div>';
							html += '</li>';
						}
						
						document.getElementById("search-result-movies").innerHTML = html;

						//search series list display
						var html = "";						
						for (var a = 0; a < response.series.length; a++){
							var data = response.series[a];
							
							var isLiked = false;
							for (var b =0; b < window.user.series.length; b++){
								var tempData = window.user.series[b];
								if(tempData._id.toString() == data._id.toString()){
									isLiked = true;
									break;
								}
							}
							
							html += '<li>';
							html += '<div class="nearly-pepls">';
							
							html += '<div class="pepl-info">';
							html += '<h4>';
								if(data.image != ""){
								html += '<img src="' + mainURL + "/" + data.image + '" style="width:205px;">';
							}
							html += '<a href="/">' + data.name + '</a>';
							html += '</h4>';
							html += '<p> Diretor: <span>' + data.diretor + '</span></p>';
							html += '<p>elenco: <span>' + data.elenco + '</span></p>';
							html += '<p>Ano de publicação: <span>' + data.ano + '</span></p>';
							html += '<p>Pais: <span>' + data.pais + '</span></p>';
							html += '<p>Numero de temporadas: <span>' + data.temporadas + '</span></p>';
							

							
							
							html += '</div>';
							html += '</div>';
							html += '</li>';
						}
						
						document.getElementById("search-result-series").innerHTML = html;

						//search Group list display
						var html = "";
						for (var a=0; a < response.groups.length; a++){
							var data = response.groups[a];
							
							var isMember = false;
							for (var b=0; b < window.user.groups.length; b++){
								var tempData = window.user.groups[b];
								if(tempData._id.toString() == data._id.toString()){
									isMember = true;
									break;
								}
							}
							
							html += '<li>';
							html += '<div class="nearly-pepls">';
							html += '<figure>';
							html += '<a href="/group/' + data._id + '">';
							html += '<img src="' + mainURL + '/' + data.coverPhoto + '">';
							html += '</a>';
							html += '</figure>';
							
							html += '<div class="pepl-info">';
							html += '<h4>';
							html += '<a href="/group/' + data._id + '">' + data.name + '</a>';
							html += '</h4>';
							
							html += '<span>Public Group</span>';
							html += '<em>' + data.members.length + ' Members</em>';
							
							if(localStorage.getItem("accessToken")){
								if(isMember){
									html += '<a href="javascript:void(0);" data-id="' + data._id + '" onclick="toggleJoinGroup(this);" class="add-butn btn-unfriend"> Leave</a>';
								} else {
									html += '<a href="javascript:void(0);" data-id="' + data._id + '" onclick="toggleJoinGroup(this);" class="add-butn"> Join</a>';
								}
							}
							
							html += '</div>';
							html += '</div>';
							html += '</li>';
						}						
						document.getElementById("search-result-groups").innerHTML = html;  					
						
				} else{
						alert(response.message);
				}
			}
		};
			
		var formData = new FormData();
		formData.append("query", document.getElementById("query").value);
		ajax.send(formData);		
	}

	function toggleJoinGroup(self){
		var ajax = new XMLHttpRequest();
		ajax.open("POST", "/toggleJoinGroup", true);
		
		ajax.onreadystatechange = function(){
			if(this.readyState == 4 && this.status == 200){
				var response = JSON.parse(this.responseText);
				
				if(response.status == "success"){
					self.className = "add-butn btn-unfriend";
					self.innerHTML = "Leave";
					alert(response.message);
				}
				if(response.status == "leaved"){
					self.className = "add-butn";
					self.innerHTML = "Join";
					alert(response.message);
				}
				if(response.status == "error"){
					alert(response.message);
				}			
			}
		};
		
		var formData = new FormData;
		formData.append("accessToken", localStorage.getItem("accessToken"));
		formData.append("_id", self.getAttribute("data-id"));
		ajax.send(formData);
	}

				/* like section */
				function toggleLikePage(self){
					var _id = self.getAttribute("data-id");
					var ajax = new XMLHttpRequest();
					ajax.open("POST", "/toggleLikePage", true);
					
					ajax.onreadystatechange = function(){
						if(this.readyState == 4 && this.status == 200){
							var response = JSON.parse(this.responseText);				
							alert(response.message);					
							
							if(response.status == "success"){
								self.className = "like";
								var likes = parseInt(self.querySelector("ins").innerHTML);
								likes++;
								self.querySelector("ins").innerHTML = likes;
							}
							if(response.status == "unliked"){
								self.className = "none";
								var likes = parseInt(self.querySelector("ins").innerHTML);
								likes--;
								self.querySelector("ins").innerHTML = likes;
							}
							if(response.status == "error"){
								alert(response.message);
							}							
						}
					};
					var formData = new FormData();
					formData.append("accessToken", localStorage.getItem("accessToken"));
					formData.append("_id", _id);
					ajax.send(formData);
				}

	//send friend request
	function sendFriendRequest(self){
		var _id = self.getAttribute("data-id");
		
		var ajax = new XMLHttpRequest();
		ajax.open("POST", "/sendFriendRequest", true);
		
		ajax.onreadystatechange = function(){
			if(this.readyState == 4 && this.status == 200){
				var response = JSON.parse(this.responseText);
				alert(response.message);
				self.remove();
			}
		};
		
		var formData = new FormData();
		formData.append("accessToken", localStorage.getItem("accessToken"));
		formData.append("_id", _id);
		ajax.send(formData);		
	}


	function doUnfriend(self){
			var _id = self.getAttribute("data-id");
			var ajax = new XMLHttpRequest();
			ajax.open("POST", "/unfriend", true);
			ajax.onreadystatechange = function () {
				if (this.readyState == 4 && this.status == 200) {
					var response = JSON.parse(this.responseText);
					alert(response.message);
					self.remove();
				}
			};
			var formData = new FormData();
			formData.append("accessToken", localStorage.getItem("accessToken"));
			formData.append("_id", _id);
			ajax.send(formData);
		}
</script>

<%- include ("includes/foooter") %>