<%- include ("includes/header") %>

<section>
	<div class="gap gray-bg">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-12">
					<div class="row" id="page-contents">
					
						<div class="col-md-3">
							<%- include ("includes/left-sidebar") %>
						</div>
						
						<div class="col-md-6">							
							<div class="row justify-content-md-center">
								<div class="groups">
									<span><i class="fa fa-file-text-o"></i> Séries </span>
								</div>
								<ul class="liked-pages" id="all-series"></ul>
							</div>							
						</div>
						
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<script>
	 var isSeries = true;
	 function getSeries(){
		var ajax = new XMLHttpRequest();
		ajax.open("POST", "/getSeries", true);
			
		ajax.onreadystatechange = function(){
			if(this.readyState == 4 && this.status == 200){
				var response = JSON.parse(this.responseText);
				
				if(response.status == "error"){
					alert(response.message);
					return;
				}
				
				var html = "";
				for (var a = 0; a < response.data.length; a++){
					var data = response.data[a];
					
					html += '<li>';
					html += '<div class="f-page">';
					html += '<figure>';
					html += '<a href="/page/' + data._id + '">';
					html += '</a>';
					
					html += '<em>' + data.likers.length + ' likes </em>';
					html += '</figure>';
					
					if(data.image != ""){
								html += '<img src="' + mainURL + "/" + data.image + '" style="width:205px;">';
							}
					
					html += '<div class="page-infos2">';
					html += '<h4><a href="/page/' + data._id + '">' + data.name + '</a></h4>';
					html += '<p> Diretor(es): <span>' + data.diretor + '</span></p>';
					html += '<p>Elenco: <span>' + data.elenco + '</span></p>';
					html += '<p>País: <span>' + data.pais + '</span></p>';
					html += '<p>Ano de lançamento: <span>' + data.ano + '</span></p>';
                    html += '<p>Número de temporadas: <span>' + data.temporadas + '</span></p>';

					html += '</div>';						
							html += '</div>';
							html += createLikesSection2(data);
							html += "<div id='post-comments-" + data._id + "'>";
							html += createCommentsSerie(data);

					html += '</div>';
					html += '</div>';
					html += '</li>';
				}
				document.getElementById("all-series").innerHTML = html;
			}
		};
		
	var formData = new FormData();
	formData.append("accessToken", localStorage.getItem("accessToken"));
	ajax.send(formData);		
	}	 
</script>

<%- include ("includes/foooter") %>