<%- include ("../views/includes/header") %>
<section>
	<div class="feature-photo">

		<figure>
			<img class="cover-photo" id="cover-photo" style="width: 100%; height: 300px; object-fit: cover;">
		</figure>

		<div class="add-btn">
				<span id="seguidores"></span>
			</div>


		<div class="container-fluid">
		<div class="row merged2">
			<div class="col-md-2">
				<div class="user-avatar">
					<figure>
					<img class="profile-image" id="profile-image" style="width: 100%; height: 150px; object-fit:cover;">
					</figure>
				</div>
			</div>
			<div class="col-md-10">
				<div class="timeline-info">
			<ul>
				<li class="admin-name">
					<h5 class="user-name" id="user-name" style="padding-top: 20px; padding-bottom: 20px;"></h5>
					
				</li>

			</ul>
		</div>
	</div>
</div>
</div>
</div>
	
<div class="col-md-12">
	<div class="row" id="page-contents">

		<div class="col-md-3">
			<ul>
				<p style="font-size: 23px; font-style: italic; color: black;" > Dados do perfil: </p>

				<p style="font-size: 21px; color :black;" > Username: </p> <p class = "username" id = "username" style="font-size: 18px;"></p> 
				<p style="font-size: 21px; color :black;"> Data de aniversário: </p><p class = "date" id = "date" style="font-size: 18px;"> </p> 
				<p style="font-size: 21px; color :black;"> Email: </p><p class = "email" id = "email" style="font-size: 18px;"> </p> 
				<p style="font-size: 21px; color :black;"> Estado: </p><p class = "estado" id = "estado" style="font-size: 18px;"> </p> 
				<p style="font-size: 21px; color :black;"> Cidade: </p><p class = "cidade" id = "cidade" style="font-size: 18px;"> </p>




				</ul>
			
		</div>
		
		<%- include ("../views/includes/friend-page") %>

		
		<%- include ("../views/includes/functions") %>

		
							
			
		

<script>
		var isUserDetail = true;
		
		function getUserDetails(){
			var ajax = new XMLHttpRequest();
			ajax.open("POST", "/getUserDetails", true);
			
			ajax.onreadystatechange = function(){
				if(this.readyState == 4 && this.status == 200){
					var response = JSON.parse(this.responseText);

					
					document.getElementById("cover-photo").setAttribute("src", mainURL + '/' + response.data.coverPhoto);
					document.getElementById("profile-image").setAttribute("src", mainURL + '/' + response.data.profileImage);
					
					document.getElementById("user-name").innerHTML = response.data.name;
					document.querySelector(".username").innerHTML = response.data.username;
					document.getElementById("estado").innerHTML = response.data.estado;
					document.getElementById("cidade").innerHTML = response.data.cidade;
					document.getElementById("date").innerHTML = response.data.date;
					document.getElementById("email").innerHTML = response.data.email;
					var status_array = [];
					for (var a = 0; a < response.data.friends.length; a++) {
						var data = response.data.friends[a];
						console.log(data);

						status_array.push(data.status);
					}
					var contar = 0;
					for(y = 0; y < status_array.length; y++){
						if(status_array[y] == "Accepted"){
							contar++;
						}
					}
					console.log("accepted aparece " +  contar  + " vezes!");

					document.getElementById("seguidores").innerHTML = contar + " Amigos";
					
				}
			};
			
			var formData = new FormData();
			formData.append("accessToken", localStorage.getItem("accessToken"));
			formData.append("_id", document.getElementById("_id").value);
			ajax.send(formData);			
		}

		

		
		

		



</script>






<%- include ("../views/includes/foooter") %>
